.send-button {
  background-color: rgb(25, 135, 84);
  color: white;
  padding: 10px 20px;
  margin-left: 10px;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
}
.chat-input {
  padding: 10px 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  font-size: 15px;
  width: 100%;
}
.chat-input-container {
  display: flex;
  margin-bottom: 60px;
}
